{% extends "base.html" %}
{% load static %}

{% block inicio %} 
    <!-- Sección de Inicio -->
    <section id="inicio" class="hero">
      <div class="container">
        <div class="hero-content">
          <h1 class="animate-fade-in">
            <span class="typing-text">Hola, soy <span class="highlight">Breithner Aquituari</span></span>
          </h1>
          <h2 class="animate-fade-in delay-1">
            <span class="backend-highlight">Desarrollador Backend</span>
          </h2>
          <p class="animate-fade-in delay-2">
            Desarrollo soluciones backend robustas y escalables, enfocadas en rendimiento y calidad del código.
            Apasionado por el detalle, la lógica de negocio y la integración eficiente de sistemas.
          </p>
          <div class="hero-buttons animate-fade-in delay-3">
            <a href="#proyectos" class="btn btn-primary">Ver Proyectos</a>
            <a href="#contacto" class="btn btn-outline">Contacto</a>
          </div>
        </div>
      </div>
      <div class="scroll-down">
        <a href="#sobre-mi">
          <span class="arrow"></span>
        </a>
      </div>
    </section>
{% endblock inicio %} 

{% block about %}     
<!-- Sección Sobre Mí -->
    <section id="sobre-mi" class="section">
      {% for p in person %}
      <div class="container">
        <h2 class="section-title">Sobre Mí</h2>
        <div class="about-content">
          <div class="about-image">
            <div class="image-container">
              <!-- Imagen de perfil -->
              <img src="{% static 'img/img.png' %}" alt="Foto de perfil" class="perfil-img"/>
            </div>
          </div>
          <div class="about-text">
            <p>
            {{p.about_me_one}}
            </p>
            <p>
            {{p.about_me_two}}
            </p>
            <div class="about-details">
              <div class="detail-item">
                <span class="detail-title">Nombre:</span>
                <span class="detail-info">{{p.name_person}}</span>
              </div>
              <div class="detail-item">
                <span class="detail-title">Email:</span>
                <span class="detail-info">{{p.email}}</span>
              </div>
              <div class="detail-item">
                <span class="detail-title">Ubicación:</span>
                <span class="detail-info">{{p.location}}</span>
              </div>
              <div class="detail-item">
                <span class="detail-title">Disponible:</span>
                <span class="detail-info available">{{p.available}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
{% endblock about %}

{% block projects %}
  <!-- Sección de Proyectos -->
  <section id="proyectos" class="section bg-alt">
    <div class="container">
      <h2 class="section-title">Mis Proyectos</h2>
      
      <div class="projects-grid">
        {% for p in projects %}
        <div class="project-card">
          <div class="project-info">
            <h3>{{p.title}}</h3>
            <p>{{p.description}}</p>
            <div class="project-tags">
              {% for t in p.technologies.all %}
                <span>{{t.Technology_name}}</span>
              {% endfor %}
            </div>
            <div class="project-links">
              <a href="{{p.view_code}}" class="project-link" target="_blank">Ver Código</a>
            </div>
            <p><strong>Última actualización:</strong> {{p.end_update|date:"j \d\e F \d\e Y"}}</p>
          </div>
        </div>
        {% endfor %}

      </div>
      
    </div>
  </section>
{% endblock projects %}

{% block skills %}
      <!-- Sección de Habilidades -->
      <section id="habilidades" class="section">
        <div class="container">
          <h2 class="section-title">Mis Habilidades</h2>
          <div class="skills-container">
            <div class="skills-category">
              <h3>Desarrollo Backend</h3>
              <div class="skills-list">
                <div class="skill-item">
                  <span class="skill-name">Python</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 95%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Odoo</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 90%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">JavaScript</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 60%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Owl</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 60%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Django</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 80%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">React Native</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 95%"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="skills-category">
              <h3>Herramientas y Otros</h3>
              <div class="skills-list">
                <div class="skill-item">
                  <span class="skill-name">GitHub</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 80%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Figma</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 75%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">n8n</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 70%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Jenkins</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 60%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Power BI</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 70%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Make</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 70%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Docker</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 70%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <span class="skill-name">Postgresql</span>
                  <div class="skill-bar">
                    <div class="skill-level" style="width: 70%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock skills %}

{% block contact %}
      <!-- Sección de Contacto -->
      <section id="contacto" class="section bg-alt">
        <div class="container">
          <h2 class="section-title">Contacto</h2>
          <div class="contact-container">
            <div class="contact-info">
              <div class="contact-item">
                <div class="contact-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
                </div>
                <div class="contact-text">
                  <h3>Email</h3>
                  <p>breithnerap@gmail.com</p>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                    <circle cx="12" cy="10" r="3"></circle>
                  </svg>
                </div>
                <div class="contact-text">
                  <h3>Ubicación</h3>
                  <p>Lima, Perú</p>
                </div>
              </div>

              <div class="social-links">
                <a href="https://www.linkedin.com/in/breithner-aquituari-249b821a4/" target="_blank" class="social-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                  </svg>
                </a>
                <a href="https://github.com/br3hap" target="_blank" class="social-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="contact-form">
              <form id="contact-form" action="{% url "Form_Table" %}" method='POST'>{% csrf_token %}
                <div class="form-group">
                  <input type="text" id="name" name="name" placeholder="Tu Nombre" required />
                </div>
                <div class="form-group">
                  <input type="email" id="email" name="email" placeholder="Tu Email" required />
                </div>
                <div class="form-group">
                  <input type="text" id="subject" name="subject" placeholder="Asunto" required />
                </div>
                <div class="form-group">
                  <textarea id="message" name="message" placeholder="Mensaje" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-full">Enviar Mensaje</button>
              </form>
            </div>
          </div>
        </div>
      </section>
{% endblock contact %}

{% comment %} footer {% endcomment %}
{% block footer %}
      <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <p>&copy; 2025 Breithner Aquituari. Todos los derechos reservados.</p>
          </div>
        </div>
      </footer>
{% endblock footer %}